<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.courtney.TOHOL"
        versionCode = "8" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>TOHOL</name>

    <description>
        A test for Higher Order Language 
    </description>

    <author  email="courtney.j.siu@gmail.com">
        Courtney Siu
    </author>
	
	<preference name="orientation" value="landscape"/>
	<icon src = "icon.png"/>

</widget>